In [4]:
import keras

In [2]:
numero = 5

In [7]:
print(numero)

9

In [8]:
numero = numero + 1
print(numero)

10

In [11]:
nome = "Paulo" # String ou str
numero_inteiro = 5 # Integer ou int
numero_decimal = 2.5 # Float
solteiro = True # Boolean ou bool

print(nome, type(nome))
print(numero_inteiro, type(numero_inteiro))
print(numero_decimal, type(numero_decimal))
print(solteiro, type(solteiro))

Paulo <class 'str'>
5 <class 'int'>
2.5 <class 'float'>
True <class 'bool'>

In [19]:
lista = [5, 7, 3, 6, 12, 30, 40, 90, 70, 60]

print(lista, type(lista))

primeiro_elemento = lista[0]
print(primeiro_elemento, type(primeiro_elemento))

quantidade_elementos = len(lista)
ultimo_elemento = lista[quantidade_elementos - 1]
print(ultimo_elemento, type(ultimo_elemento))

[5, 7, 3, 6, 12, 30, 40, 90, 70, 60] <class 'list'>
5 <class 'int'>
60 <class 'int'>

In [21]:
lista = [5, 7, 3, 6, 12, 30, 40, 90]

print(lista, type(lista))

primeiro_elemento = lista[0]
print(primeiro_elemento, type(primeiro_elemento))

ultimo_elemento = lista[-1]
print(ultimo_elemento, type(ultimo_elemento))

[5, 7, 3, 6, 12, 30, 40, 90] <class 'list'>
5 <class 'int'>
90 <class 'int'>

In [23]:
lista = [5, 7, 3, 6, 12, 30, 40, 90]

print(lista, type(lista))

primeiro_elemento = lista[0]
print(primeiro_elemento, type(primeiro_elemento))

lista[0] = 900

print(lista)
print(primeiro_elemento)

[5, 7, 3, 6, 12, 30, 40, 90] <class 'list'>
5 <class 'int'>
[900, 7, 3, 6, 12, 30, 40, 90]
5

In [27]:
tupla = (8, 6, 4, 6)

print(tupla, type(tupla))

primeiro_elemento = tupla[0]
print(primeiro_elemento, type(primeiro_elemento))

(8, 6, 4, 6) <class 'tuple'>
8 <class 'int'>

In [38]:
tupla = 6,

print(tupla, type(tupla))

criar_rede_neural(nome="Paulo", tupla2=(6,))

(6,) <class 'tuple'>
Paulo (6,) <class 'tuple'>

In [35]:
def criar_rede_neural(nome, tupla2):
  print(nome, tupla2, type(tupla2))

In [42]:
tupla = (6, 2, 9, 4)

print(tupla)
print(tupla[0])

(6, 2, 9, 4)
6

In [45]:
numeros = [10, 20, 60, 70, 55, 14, 10, 99, 85, 70, 20, 44, 60, 55, 14, 99, 10]

print(len(numeros))
print(numeros)

numeros_unicos = set(numeros)

print(len(numeros_unicos))
print(numeros_unicos)

17
[10, 20, 60, 70, 55, 14, 10, 99, 85, 70, 20, 44, 60, 55, 14, 99, 10]
9
{99, 70, 10, 44, 14, 20, 85, 55, 60}

In [47]:
lista = [10, "texto", True, 10.5, "texto"]

print(lista)
print(set(lista))

[10, 'texto', True, 10.5, 'texto']
{True, 10, 10.5, 'texto'}

In [48]:
numeros = [1, 1, 1, 2, 3]

print(numeros)

print(set(numeros))

[1, 1, 1, 2, 3]
{1, 2, 3}

In [49]:
tupla = (5, 6, 7, 8)
lista = list(tupla)
print(tupla, type(tupla))
print(lista, type(lista))

(5, 6, 7, 8) <class 'tuple'>
[5, 6, 7, 8] <class 'list'>